<h2>Search Author</h2>
<form action="/author" method="GET">
    <input type="text" name="name" value="<%= searchOptions.name%>">
    <button type="submit">Search</button>
</form>
<br>
<% author.forEach(author=>{%>
    <div><%=author.name%></div>
    <a href="/author/<%=author.id%>">View</a>
    <a href="/author/<%=author.id%>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/author/${author.id}`}) %>
<%}) %>